*{margin: 0; padding: 0;}
.btn{padding: 10px 0; background: lightblue; border: none; border-radius: 10px; outline: 0; width: 500px; margin-top: 20px; display: block; margin: 0 auto;}
span{text-align: center; display: block; font-size: 5rem;}
input{width: 500px; margin: 0 auto; display: block; padding: 10px 0;}